<div class="container w-1/4 mx-auto my-10">
    <h1 class="text-3xl">メールアドレス登録</h1>
    <%= form_with(model: @user,class: "flex flex-col gap-2")  do |form| %>
        <div>
            <%= form.label :name, class: "label" %>
            <%= form.text_field :name, class: "input input-bordered input-primary w-full max-w-xs"%>
        </div>

        <div>
            <%= form.label :email, class: "label" %>
            <%= form.email_field :email, class: "input input-bordered input-primary w-full max-w-xs"%>
        </div>

        <div>
            <%= form.label :avatar, class: "label" %>
            <%= form.file_field :avatar, class: "input max-w-xs"%>
        </div>

        <div>
            <%= form.label :password, class: "label" %>
            <%= form.password_field :password, class: "input input-bordered input-primary w-full max-w-xs" %>
        </div>

        <div>
            <%= form.label :password_confirmation, class: "label" %>
            <%= form.password_field :password_confirmation, class: "input input-bordered input-primary w-full max-w-xs" %>
        </div>

        <div class="ml-auto mt-4 mr-10">
            <%= form.submit class: "btn btn-primary text-white" %>
        </div>
    <% end %>
</div>