<% if current_user&.mine?(@user) %>
    <div class=" flex justify-center p-2 ml-40">
        <%= link_to "ユーザーの編集", edit_user_path(@user), class:"btn btn-primary mr-2 text-white" %>
    </div>
<% end %>

<div class="container mx-auto">
    <div class="flex my-10 justify-center">
        <div class="avatar">
            <div class="w-20 rounded-full">
                <%= image_tag @user.avatar.url %>
            </div>
        </div>
        <h3 class="pt-8 pl-8 text-xl"><%= @user.name %></h3>  
    </div>
</div>

<div class="container mx-auto my-10">
    <h1 class="text-3xl font-bold mb-10"><%= @user.name %>のスケジュール</h1>
    <% if @schedules.empty? %>
        <div class="flex flex-wrap gap-4 justify-center ">
            <h1 class="text-3xl font-bold my-20"><%= @user.name %>はスケジュールを作成していません</h1>
        </div>
    <% else %>
        <div class="flex flex-wrap gap-4 justify-center ">
            <% @schedules.each do |schedule|%>
                <%= render 'shared/schedules_card', schedule: schedule %>    
            <% end %>
        </div>
        <div class="text-center my-8">
            <%= paginate @schedules, param_name: "user_page" %>
        </div>
    <% end %>
</div>

<div class="container mx-auto my-10">
    <h1 class="text-3xl font-bold mb-10"><%= @user.name %>がいいねしたスケジュール</h1>
    <% if @favorite_schedules.empty? %>
        <div class="flex flex-wrap gap-4 justify-center ">
            <h1 class="text-3xl font-bold my-20"><%= @user.name %>はいいねをしていません</h1>
        </div>
    <% else %>
        <div class="flex flex-wrap gap-4 justify-center ">
            <% @favorite_schedules.each do |schedule|%>
                <%= render 'shared/schedules_card', schedule: schedule %>
            <% end %>
        </div>
        <div class="text-center my-8">
            <%= paginate @favorite_schedules, param_name: "favorite_name" %>
        </div>
    <% end %>
</div>