<%= form_with model: schedule do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
        <div class="form-control">
            <%= f.label :schedule_title %>
            <%= f.text_field :schedule_title, class: 'input input-bordered border-primary w-64 md:w-96' %>
        </div>

        <div class="form-control">
            <%= f.label :assumed_number_people %>
            <div class="w-64 md:w-96 bg-white rounded-lg text-center border border-primary">
                <%= f.select :assumed_number_people, Schedule.assumed_number_people.keys.map { |k| [t("enums.schedule.assumed_number_people.#{k}"), k] }, { include_blank: t('defaults.placeholder.assumed_number_people') }, { class: 'bg-transparent text-lg appearance-none outline-none pt-2' } %>
            </div>
        </div>

        <div>
            <%= f.label :get_up_time %>
            <div class="w-64 md:w-96 bg-white rounded-lg text-center border border-primary">
                <%= f.time_field :get_up_time, class: 'text-lg' %>
            </div>
        </div>

        <div>
            <%= f.label :sleep_time %>
            <div class="w-64 md:w-96 bg-white rounded-lg text-center border border-primary">
                <%= f.time_field :sleep_time, class: 'text-lg' %>
            </div>
        </div>

        <div class="form-control">
            <%= f.label :tag_names %>
            <%= f.text_field :tag_names, placeholder: t('defaults.placeholder.tag_names'), class: 'input input-bordered border-primary w-64 md:w-96' %>
        </div>

        <div class="mt-4">
            <%= f.submit class: 'btn btn-primary w-32 ml-32 md:w-48 md:ml-48 text-white' %>
        </div>
<% end %>
