<div class="container mx-auto">

    <%= render 'shared/error_messages', object: f.object %>
    <div>
        <%= f.label :schedule_title %>
        <%= f.text_field :schedule_title, placeholder: "スケジュールタイトル", class: "input input-bordered" %>
    </div>
    <div class="flex gap-6 py-6">
        <div class="flex">
            <%= f.label :assumed_number_people, {class: 'p-3'} %>
            <div class="w-20 h-4/5 bg-white rounded-lg shadow-lg text-center ">
                <%= f.select :assumed_number_people, Schedule.assumed_number_people.keys.map { |k| [t("enums.schedule.assumed_number_people.#{k}"), k] }, { include_blank: "指定なし"},  {class: "bg-transparent text-lg appearance-none outline-none pt-2"} %>
            </div>
        </div>

        <div class="flex">
            <%= f.label :get_up_time, {class: 'p-3'} %>
            <div class="w-20 h-4/5 bg-white rounded-lg shadow-lg text-center ">
                <%= f.time_select :get_up_time, {prompt: true, ignore_date: true, minute_step: 15}, {class: "bg-transparent text-lg appearance-none outline-none pt-2"} %>
            </div>
        </div>

        <div class="flex">
            <%= f.label :sleep_time, {class: 'p-3'} %>
            <div class="w-20 h-4/5 bg-white rounded-lg shadow-lg text-center">
                <%= f.time_select :sleep_time,  {prompt: true, ignore_date: true, minute_step: 15}, {class: "bg-transparent text-lg appearance-none outline-none pt-2"} %>
            </div>
        </div>

    </div>
    <div class="ml-80">
        <%= f.submit "作成", class: "btn btn-primary btn-wide" %>
    </div>
</div>
