<div class="container border-4 border-primary rounded-lg flex-none w-80 bg-white  shadow-xl hover:duration-300 hover:scale-105">
    <%= link_to schedule_path(schedule), data: {turbo: false} do %>
        <div class="card-body items-center text-center">
            <div class="flex">
                <div class="avatar">
                    <div class="w-10 rounded-full">
                        <%= image_tag schedule.user.avatar.url(:user_index) %>
                    </div>
                </div>
                <h3 class="pt-2 pl-2"><%= schedule.user.name %></h3>
            </div>
            <h1 class="card-title text-2xl font-bold mt-2"><%= schedule.schedule_title %></h1>
            <div class="swiper index-swiper mx-auto">
                <div class="swiper-wrapper">
                    <% event_images_count = 0 %>
                    <% schedule.events.each do |a| %>
                        <% unless a.image.file.nil? %>
                            <div class="swiper-slide flex justify-center">
                                <%= image_tag a.image.url(:schedule_index) %>
                            </div>
                            <% event_images_count += 1 %>
                        <% end %>
                    <% end %>
                    <% if event_images_count == 0 %>
                        <div>
                            <%= image_tag 'top_image.png' %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="flex gap-4 text-center text-black">
                <div>
                    <h2 class="font-serif">起床時間</h2>
                    <p><%= schedule.get_up_time.strftime( "%H : %M" ) %></p>
                </div>
                <div>
                    <h2 class="font-serif">就寝時間</h2>
                    <p><%= schedule.sleep_time.strftime( "%H : %M" ) %></p>
                </div>
                <div>
                    <h2 class="font-serif">人数</h2>
                    <p><%= schedule.assumed_number_people_i18n %></p>
                </div>
            </div>
        </div>
    <% end %>
    <%= render 'favorites/favorite_btn', schedule: schedule %>
</div>
