<div class="container p-2 border-2 border-primary rounded-lg w-64 bg-primary-content shadow-xl hover:duration-300 hover:scale-105">
    <%= link_to schedule_path(schedule) do %>

            <div class="flex">
                <div class="avatar">
                    <div class="w-10 rounded-full border-2 border-primary shadow-xl bg-white">
                        <%= image_tag schedule.user.avatar.url(:user_index) %>
                    </div>
                </div>
                <h3 class="pt-2 pl-2"><%= schedule.user.name %></h3>
            </div>

            <div class="mx-auto">
                <div class="my-2 text-center">
                    <h1 class=" text-2xl font-bold text-center"><%= schedule.schedule_title %></h1>
                </div>
                <%= render 'schedules/swiper_index', schedule: schedule %>
                </div>

            <div class="flex flex-col gap-2 text-base md:text-lg my-4">
                <div class="flex">
                    <h2 class="font-serif text-black">起床時間</h2>
                    <p class="ml-4 text-secondary"><%= l schedule.get_up_time %></p>
                </div>
                <div class="flex">
                    <h2 class="font-serif text-black">就寝時間</h2>
                    <p class="ml-4 text-secondary"><%= l schedule.sleep_time %></p>
                </div>
                <div class="flex">
                    <h2 class="font-serif text-black">人数</h2>
                    <p class="ml-14 text-secondary"><%= schedule.assumed_number_people_i18n %></p>
            </div>
        </div>

    <% end %>
    <div class="flex justify-end gap-4 p-2">
        <%= link_to "https://twitter.com/share?url=https://www.schedule-day-off.com/schedules/#{schedule.id}&text=#{schedule.user.name}さんが休日スケジュールを作成しました。%0a%0a「#{schedule.schedule_title}」%0a%0a", target: '_blank' do %>
            <%= icon(name: "twitter") %>
        <% end %>
        <%= render 'favorites/favorite_btn', schedule: schedule %>
    </div>
</div>
