<div class="bg-primary-content min-h-screen">
  <h1 class="text-3xl p-12">月間スケジュールいいねランキング</h1>
  <% last_favorite = 0 %>
  <% rank = 1 %>
  <div class="container mx-auto">
    <div class="flex flex-wrap gap-4">
      <% @month_schedule_favorite_ranks.each.with_index(1) do |schedule, i| %>
        <% if i == 1 %>
          <% last_favorite = schedule.favorites.count %>
        <% end %>
        <% if schedule.favorites.count == last_favorite %>
          <div class="flex flex-col text-center gap-2">
            <h2 class="text-xl">第<%= rank %>位</h2>
            <h2 class="text-xl"><%= schedule.favorites.count %>いいね</h2>
            <%= render 'schedule', schedule: schedule %>
          </div>
        <% else %>
          <% rank = i %>
          <% break if rank == 4 %>
          <div class="flex flex-col text-center gap-2">
            <h2 class="text-xl">第<%= rank %>位</h2>
            <h2 class="text-xl"><%= schedule.favorites.count %>いいね</h2>
            <%= render 'schedule', schedule: schedule %>
          </div>
          <% last_favorite = schedule.favorites.count %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
