<div class="bg-primary-content min-h-screen py-8">
    <div class="container mx-auto">
        <div class="flex p-4">
                <%= link_to user_path(@schedule.user) do %>
                    <div class="avatar">
                    <div class="w-16 md:w-20 rounded-full border-2 border-primary shadow-xl ">
                            <%= image_tag @schedule.user.avatar.url(:user_show) %>
                        </div>
                    <h2 class="pt-6 pl-8 text-xl md:text-3xl"><%= @schedule.user.name %></h2>
                    </div>
                <% end %>
        </div>
        <%= turbo_frame_tag dom_id(@schedule, :swiper) do %>
            <div class="mt-4">
                <%= render 'swiper_show', schedule: @schedule %>
            </div>
        <% end %>
        <%= turbo_frame_tag dom_id(@schedule, :edit) do %>
            <div class="md:flex md:justify-between p-8">
                <div class="pl-4 pb-4">
                    <h1 class="text-2xl md:text-5xl font-serif"><%= @schedule.schedule_title %></h1>
                </div>
                <div class="flex p-2 justify-end">
                    <% if current_user&.own?(@schedule) %>
                        <div class="mr-2 ml-1">
                            <%= link_to edit_schedule_path(@schedule) do %>
                                <%= icon(name: "edit") %>
                            <% end %>
                        </div>
                        <div class="mr-2 ml-1">
                            <%= link_to schedule_path(@schedule), data: { turbo_method: :delete, turbo_confirm: '削除しますか?' } do %>
                                <%= icon(name: "destroy") %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-2 p-4 ">
                <div class="flex gap-4 ">
                    <%= icon(name: "person") %>
                    <h2 class="text-xl"><%= @schedule.assumed_number_people_i18n %></h2>
                </div>
                <div class="flex gap-4">
                    <%= icon(name: "money") %>
                    <h2 class="text-xl"><%= @schedule.total_price %>円</h2>
                </div>
                <div class="flex gap-4">
                    <%= icon(name: "get_up") %>
                    <h2 class="text-xl"><%= l @schedule.get_up_time %></h2>
                </div>
                <div class="flex gap-4">
                    <%= icon(name: "sleep") %>
                    <h2 class="text-xl"><%= l @schedule.sleep_time %></h2>
                </div>
            </div>
        <% end %>
        <% if current_user&.own?(@schedule) %>
            <div class="text-center mt-16">
                <%= link_to "イベント追加", new_schedule_event_path(schedule_id: @schedule.id), class: "btn btn-wide btn-secondary text-white", data: { turbo_frame: dom_id(Event.new,dom_id(@schedule))} %>
            </div>
        <% end %>
        <%= turbo_frame_tag dom_id(Event.new,dom_id(@schedule)) %>
        <div class="divider my-8">起床時間  <%= l @schedule.get_up_time %></div>
        <%= turbo_frame_tag dom_id(@schedule) do %>
            <%= render 'schedule_events', schedule: @schedule, events: @events %>
        <% end %>
        <div class="divider mt-8">就寝時間  <%= l @schedule.sleep_time %></div>
        <div class="flex justify-end gap-4 p-2">
            <%=  link_to "https://twitter.com/share?url=https://schedule-day-off.herokuapp.com/schedules/#{@schedule.id}&text=#{@schedule.user.name}さんが休日スケジュールを作成しました。%0a%0a「#{@schedule.schedule_title}」%0a%0a", target: '_blank' do  %>
                <%= icon(name: "twitter") %>
            <% end %>
            <%= render 'favorites/favorite_btn', schedule: @schedule %>
        </div>
    </div>
</div>