<div class="bg-primary-content py-8">
    <div class="container mx-auto  w-2/3 ">
        <div class="flex relative p-8">
            <div class="flex">
                <%= link_to user_path(@schedule.user) do %>
                    <div class="avatar">
                        <div class="w-20 rounded-full border-2 border-primary shadow-xl ">
                            <%= image_tag @schedule.user.avatar.url(:user_show) %>
                        </div>
                        <h2 class="pt-6 pl-8 text-3xl"><%= @schedule.user.name %></h2>
                    </div>
                <% end %>
            </div>
            <div class="mr-2 ml-1">
                <%= link_to schedules_path,class: "absolute right-0 p-2" do %>
                    <%= icon(name: "return") %>
                <% end %>
            </div>
        </div>
        <%= turbo_frame_tag dom_id(@schedule, :swiper) do %>
            <div data-controller="slideshow" class="show-swiper border-2 border-primary shadow-xl rounded-lg bg-white mx-auto">
                <% event_images_count = 0 %>
                <% @schedule.events.each do |a| %>
                    <% unless a.image.file.nil? %>
                        <div data-slideshow-target="slide" >
                            <%= image_tag a.image.url(:schedule_show), class: "mx-auto" %>
                        </div>
                        <% event_images_count += 1 %>
                    <% end %>
                <% end %>
                <% if event_images_count == 0 %>
                    <div>
                        <%= image_tag 'top_image.png', class: "mx-auto" %>
                    </div>
                <% end %>
                <div class="pt-4 text-center">
                <button data-action="slideshow#previous" > ← </button>
                <button data-action="slideshow#next" > → </button>
                </div>
            </div>
        <% end %>
        <%= turbo_frame_tag dom_id(@schedule, :edit) do %>
            <div class="flex p-8 relative ">
                <div class="pl-4 pb-4">
                    <h1 class="text-5xl font-serif"><%= @schedule.schedule_title %></h1>
                </div>
                <div class="flex absolute right-0 p-2">
                    <% if current_user&.own?(@schedule) %>
                        <div class="mr-2 ml-1">
                            <%= link_to edit_schedule_path(@schedule) do %>
                                <%= icon(name: "edit")%>
                            <% end %>
                        </div>
                        <div class="mr-2 ml-1">
                            <%= link_to schedule_path(@schedule), data: { turbo_method: :delete, turbo_confirm: '削除しますか?' } do %>
                                <%= icon(name: "destroy")%>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="flex gap-16 p-8 justify-center">
                <div class="flex gap-4">
                    <%= icon(name: "person")%>
                    <h2 class="text-xl"><%= @schedule.assumed_number_people_i18n %></h2>
                </div>
                <div class="flex gap-4">
                    <%= icon(name: "get_up")%>
                    <h2 class="text-xl"><%= @schedule.get_up_time.strftime( "%H : %M" ) %></h2>
                </div>
                <div class="flex gap-4">
                   <%= icon(name: "sleep")%>
                    <h2 class="text-xl"><%= @schedule.sleep_time.strftime( "%H : %M" ) %></h2>
                </div>
                <div class="flex gap-4">
                    <%= icon(name: "money")%>
                    <h2 class="text-xl"><%= @schedule.decorate.total_price %>円</h2>
                </div>
            </div>
            <div class="w-5/6 border-b-2  border-primary mx-auto">
            </div>
        <% end %>
        <% if current_user&.own?(@schedule) %>
            <div class="text-center mt-16">
                <%= link_to "イベント追加", new_schedule_event_path(schedule_id: @schedule.id), class: "btn btn-wide btn-secondary text-white", data: { turbo_frame: dom_id(Event.new,dom_id(@schedule))} %>
            </div>
        <% end %>
        <%= turbo_frame_tag dom_id(Event.new,dom_id(@schedule)) %>
        <div class="divider my-8">起床時間  <%= @schedule.get_up_time.strftime( "%H:%M" ) %></div>
        <%= turbo_frame_tag dom_id(@schedule) do %>
            <% today = [] %>
            <% next_day = [] %>
            <% @events.each do |event| %>
                <% if event.id %>
                    <% if event.start_time.hour > @schedule.get_up_time.hour %>
                        <% today.push(event) %>
                    <% elsif event.start_time.hour == @schedule.get_up_time.hour && event.start_time.min >= @schedule.get_up_time.min %>
                        <% today.push(event) %>
                    <% else %>
                        <% next_day.push(event) %>
                    <% end %>
                <% end %>
            <% end %>
            <% today.each do |a| %>
                <%= turbo_frame_tag dom_id(a, :show) do %>
                    <%= link_to schedule_event_path(@schedule,a) do %>
                        <div class="flex w-2/3 bg-secondary text-white mx-auto p-2 mt-4 text-center">
                            <div class="w-3/12">
                                <h2><%= a.start_time.strftime( "%H:%M" ) %> ~ <%= a.end_time.strftime( "%H:%M" ) %></h2>
                            </div>
                            <div class="w-9/12">
                                <h2><%= a.event_title %></h2>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
            <% next_day.each do |a| %>
                <%= turbo_frame_tag dom_id(a, :show) do %>
                    <%= link_to schedule_event_path(@schedule,a) do %>
                        <div class="flex w-2/3 bg-secondary text-white mx-auto p-2 mt-4 text-center">
                            <div class="w-3/12">
                                <h2><%= a.start_time.strftime( "%H:%M" ) %> ~ <%= a.end_time.strftime( "%H:%M" ) %></h2>
                            </div>
                            <div class="w-9/12">
                                <h2><%= a.event_title %></h2>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <div class="divider mt-8">就寝時間  <%= @schedule.sleep_time.strftime( "%H:%M" ) %></div>
        <%= render 'favorites/favorite_btn', schedule: @schedule %>
    </div>
</div>
