<header>
    <div class="navbar bg-primary text-white h-20">
        <div class="flex-1">
            <%= link_to "休日スケジュール", schedules_path, {class:"btn btn-ghost normal-case text-xl"} %>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
            <li><%= link_to "月間ランキング", rank_schedules_path, {class: "btn btn-secondary mr-2"} %></li>
            <li><%= link_to "マイページ", user_path(current_user), {class: "btn btn-secondary mr-2"} %></li>
            <li><%= link_to "ログアウト", logout_path, {class: "btn btn-secondary mr-2", method: :delete} %></li>
            <li><%= link_to "スケジュール作成", new_schedule_path, {class: "btn btn-accent"} %></li>
            </ul>
        </div>
    </div>
</header>
