
<div class="nested-fields bg-secondary rounded-lg my-10 p-5"> 
    <div class="flex">
        <div class="w-1/12 field">
            <%= kf.check_box :three_main_events, { class: "checkbox bg-white"}, true, false%>
        </div>
        <div class="w-5/12 field ">
            <%=kf.time_select :start_time, prompt: true, ignore_date: true, minute_step: 15%>〜<%=kf.time_select :end_time,  prompt: true, ignore_date: true, minute_step: 15%>
        </div>

        <div class="w-5/12 field form-control">
            <label class="input-group">
                <span>event_tile</span>
                <%=kf.text_field :event_title, placeholder: "name", class: "input input-bordered w-full"%>
            </label>
        </div>
        <div class="w-1/12 btn field form-control">
            <%= link_to_remove_association "イベントを削除", kf%>
        </div>
    </div>

    <div class="field form-control form-control w-full mx-auto mt-4">
        <label class="input-group">
            <span >comment</span>
            <%=kf.text_area :comment, placeholder: "info@site.com", class: "textarea w-full"%>
        </label>
    </div>

    <div class="flex mt-4">
        <%= kf.file_field :image, class: "file-input file-input-bordered file-input-primary w-full mr-2"%>
        <div class="field form-control w-full mr-2">
            <label class="input-group">
                <span>store</span>
                <%=kf.text_field :store, placeholder: "URL", class: "input input-bordered w-full"%>
            </label>
        </div>
        <div class="field form-control w-full">
            <label class="input-group">
                <span>Price</span>
                <%=kf.number_field :price, placeholder: "000円", class: "input input-bordered w-full"%>
            </label>
        </div>
    </div>
</div>
