  <div data-controller="form", class="container mx-auto px-10">
    <%= render 'shared/error_messages', object: f.object %>

<div class="bg-secondary rounded-lg p-5"> 
    <div class="flex">
        <div class="w-5/12 field ">
            <%=f.time_select :start_time, prompt: true, ignore_date: true, minute_step: 15, class: "w-1/3"%>〜<%=f.time_select :end_time,  prompt: true, ignore_date: true, minute_step: 15, class: "w-full"%>
        </div>

        <div class="w-5/12 field form-control">
            <label class="input-group">
                <span class="w-3/12"><%=Event.human_attribute_name(:event_title)%></span>
                <%=f.text_field :event_title, placeholder: "〜をする", class: "input input-bordered w-9/12"%>
            </label>
        </div>
    </div>

    <div class="flex mt-4">
        <%= f.file_field :image, class: "file-input file-input-bordered file-input-primary w-full mr-2"%>
        <div class=" form-control w-full mr-2">
            <label class="input-group">
                <span class="w-3/12"><%=Event.human_attribute_name(:store)%></span>
                <%=f.text_field :store, placeholder: "URL", class: "input input-bordered w-9/12"%>
            </label>
        </div>
        <div class="form-control w-full">
            <label class="input-group">
                <span class="w-3/12"><%=Event.human_attribute_name(:price)%></span>
                <%=f.number_field :price, placeholder: "000円", class: "input input-bordered w-9/12"%>
            </label>
        </div>
    </div>

      <div class="form-control w-full mx-auto mt-4">
        <label class="input-group">
            <span class="w-2/12"><%=Event.human_attribute_name(:comment)%></span>
            <%=f.text_area :comment, placeholder: "〜がおすすめです。", class: "textarea w-10/12"%>
        </label>
        <div class="flex justify-end  mt-6">
          <%=f.submit "作成", class: "btn btn-primary btn-wide" ,data: { turbo_frame: "_self" }%>
        </div>
    </div>

</div>
</div>