<%= turbo_frame_tag dom_id(@event, :edit) do%>
<div class="container mx-auto my-8 w-2/3 border-4 border-secondary  bg-secondary-content rounded-lg">
    <div class="">
    
        <% if current_user&.own?(@event.schedule) %>
            <div class="p-2">
                    <%= link_to "イベント削除", schedule_event_path(@event.schedule,@event), data: { turbo_method: :delete }, class:"btn btn-error text-white" %>
                    <%= link_to "編集", edit_schedule_event_path(@event.schedule,@event), class:"btn btn-primary mr-2 text-white" %>
            </div>
        <% end %>

        <div class="">
            <% unless @event.image.file.nil? %>
                    <%= image_tag @event.image.url(:schedule_show), class: "mx-auto mt-4" %>
            <% end %>
        </div>

        <div class="flex w-10/12 mx-auto p-2 mt-4">
            <div class="w-4/12 text-left">
                <h2 class="text-2xl font-bold"><%= @event.start_time.strftime( "%H:%M" )%> ~ <%= @event.end_time.strftime( "%H:%M" )%></h2> 
            </div>
            <div class="w-8/12 text-center">
                <h2 class="text-3xl font-bold"><%= @event.event_title%></h2>  
            </div>
        </div>

        <div class="flex w-10/12 mx-auto p-2 mt-4">
            <div class="w-4/12 text-left">
                <h2 class="text-2xl font-bold">金額 <%= @event.price %>円</h2>  
            </div>
            <div class="w-8/12 text-center">
                <h2 class="text-2xl font-bold">店舗 <%= @event.store %></h2> 
            </div>
        </div>

        <div class="w-10/12 mx-auto my-4 border border-secondary bg-white h-40 p-2">
            <div class="flex flex-col justify-items-start">
                <h2>コメント</h2>
                <p><%= @event.comment %></p>
            </div>
        </div>
    </div>
</div>
<% end %>

