<%= turbo_frame_tag dom_id(@event, :show) do %>
    <%= turbo_frame_tag dom_id(@event, :edit) do %>
        <div class="container mx-auto my-8 text-black drop-shadow-xl  bg-secondary-content rounded-lg">
            <div>
                <div class="flex justify-between p-2">
                    <div>
                        <%= link_to schedule_path(@event.schedule), data: { turbo_frame: dom_id(@event, :show) }  do %>
                            <%= icon(name: 'return') %>
                        <% end %>
                    </div>
                    <% if current_user&.own?(@event.schedule) %>
                        <div class="flex gap-2">
                        <%= link_to schedule_event_path(@event.schedule, @event), data: { turbo_method: :delete } do %>
                            <%= icon(name: 'destroy') %>
                        <% end %>
                        <%= link_to edit_schedule_event_path(@event.schedule, @event) do %>
                            <%= icon(name: 'edit') %>
                        <% end %>
                        </div>
                    <% end %>
                </div>
                    <div>

                <div class="flex border-y border-secondary p-2">
                    <div>
                        <h1 class="text-base sm:text-xl"><%= t('.event_title') %></h1>
                        <div class="sm:flex">
                            <h2><%= l @event.start_time %></h2>
                            <% if @event.end_time %>
                                <h2>~ <%= l @event.end_time %></h2>
                            <% end %>
                    </div>
                        </div>
                    <div class="m-auto">
                        <h2 class="text-base sm:text-xl font-sans"><%= @event.event_title %></h2>
                        </div>
                    </div>
                <% if @event.price.present? %>
                    <div class="border-b border-secondary p-2">
                        <h1 class="text-base sm:text-xl"><%= t('.price') %></h1>
                        <h2 class="text-base sm:text-xl font-sans"><%= @event.price %>円</h2>
                </div>
                <% end %>
                <% if @event.comment.present? %>
                    <div class="border-b border-secondary p-2">
                        <h1 class="text-base sm:text-xl"><%= t('.comment') %></h1>
                        <h2 class="text-base sm:text-xl font-sans"><%= @event.comment %></h2>
                    </div>
                <% end %>
                <% if @event.image.file.present? %>
                    <div class="bg-white mx-auto w-4/5 h-[100px] sm:h-[200px] md:h-[300px]">
                        <%= image_tag @event.image.url(:index), class: 'w-full h-full object-contain' %>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
