<div class="card mx-80 bg-base-100 shadow-xl border border-primary">
    <div class="card-body items-center text-center">
        <div class="flex">
            <div class="flex flex-col justify-between">
                <p><%= @event.start_time.strftime( "%H:%M" )%> ~ <%= @event.end_time.strftime( "%H:%M" )%></p> 
                <p class="card-title text-3xl font-bold"><%= @event.event_title%></p>
                <p><%= @event.price %></p>
            </div>
            <% unless @event.image.file.nil? %>
                <%= image_tag @event.image.url(:schedule_index) %>
            <% end %>
        </div>
        <div class="flex border border-primary">
            <h2>おすすめ店舗</h2>
            <p><%= @event.store %></p>
        </div>
        <div class="flex flex-col border border-primary">
            <h2>コメント</h2>
            <p><%= @event.comment %></p>
        </div>
    </div>
</div>


